<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Feedback</title>
</head>
<body>
    <%- include('../partials/header')  %> 
    
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-6 col-12 pb-4">
                        <h1>Comments</h1>
                        <% for (let i = 0; i < dataFb.length; i++) { %> 
                            <div class="comment mt-4 text-justify float-left d-flex justify-content-between"> 
                                <div>
                                    <h4><%= dataFb[i].Name  %> </h4> <span>- <%= dataFb[i].createdAt %> </span> <br>
                                    <!-- <span> <%= dataFb[i].Email %> </span>  -->
                                    <p><%= dataFb[i].Message %></p>  %> </p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="/edit?id=<%= dataFb[i].id %>"><button type="submit" class="btn btn-warning btn-sm ml-5">Edit</button></a>
                                    <a href="/delete?id=<%= dataFb[i].id %>"><button type="submit" class="btn btn-danger btn-sm ml-2 delete-feedback">Delete</button></a>
                                </div>
                            </div>
                        <% } %> 
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                        <form id="algin-form" action="/feedback" method="POST">
                            <div class="form-group">
                                <h4>Leave a comment</h4> <label for="message">Message</label> <textarea name="Message" id="" msg cols="30" rows="5" class="form-control" style="background-color: wheat;"></textarea>
                            </div>
                            <div class="form-group"> <label for="name">Name</label> <input type="text" name="Name" id="fullname" class="form-control"> </div>
                            <div class="form-group"> <label for="email">Email</label> <input type="email" name="Email" id="email" class="form-control"> </div>
                            <div class="form-inline"> <input type="checkbox" name="check" id="checkbx" class="mr-1"> <label for="subscribe">Subscribe me to the newlettter</label> </div>
                            <div class="form-group"> <button type="submit" id="post" class="btn">Post Comment</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    
    <%- include('../partials/footer')  %> 

    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>